.cloudflare-forecast {
  display: block;
}

.cloudflare-forecast[data-status="error"] {
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  color: #222;
  display: block;
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.45;
  padding-top: 15%;
  text-align: center;
}

.cloudflare-forecast iframe {
  border: none;
}

@media(max-width: 500px) {
  /* Force the breakpoint earlier, so the forecast doesn't fall outside the viewport. */
  .cloudflare-forecast {
    max-width: 390px;
    margin: 0 auto;
  }
}
